@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-rotate {
    animation: rotate 15s linear infinite;
    transform-origin: center;
  }


  @layer utilities{
    .bg-linear-gradient{
    background-image: linear-gradient(to bottom, rgb(58, 88, 1), black);
    
  }
  }

  @layer utilities{
    .bg-linear-gradientone{
    background-image: linear-gradient(to bottom,  black, rgb(58, 88, 1));
    
  }
  }

  @layer utilities{
    .bg-linear-gradienttwo{
    background-image: linear-gradient(to bottom, rgb(58, 88, 1), black, black);
    
  }
  }
  
  /* @import 'node_modules/scroll-carousel/dist/scroll.carousel.css'; */